.navigationCard {
  height: 93vh;
  padding: 0.3rem 0.5rem;

  z-index: 2;
  position: fixed;
  left: 0; bottom: 0;  
  background-color: var(--cards-backgroundColor);
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navigationCard .helloCard {
  display: none;
}

.navigationCard .mainNavigation {
  width: 100%; height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationCard .mainNavigation > div,
.navigationCard .bottomNav > div {
  width: 100%;
  height: max-content;
  padding: 0.6rem;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}


.navigationCard .mainNavigation img,
.navigationCard .bottomNav img {
  width: 18px; height: 18px;
}

.navigationCard p {
  display: none;
}

.navigationCard .mainNavigation .active  {
  background-color: rgba(13, 124, 168, 0.2);
}

@media screen and (min-width: 480px) {
  .navigationCard {
    width: max-content; height: 100%;
    background: var(--cards-backgroundColor);
    
    position: relative;
    flex-direction: column;
    gap: 2px;
  }

  .navigationCard .helloCard {
    width: 100%;
    height: max-content;
    padding: 0.4rem;

    background-color: rgba(128, 128, 128, 0.1);
    border-radius: var(--cards-borderRadius);
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 8px;
  }
  .navigationCard .helloCard img {
    width: 50px;
    border-radius: 30%;
    overflow: hidden;
  }
  .navigationCard .helloCard p {
    line-height: 1rem;
    font-size: medium;
    color: var(--primary-text-color);
  }
  .navigationCard .helloCard p span {
    font-size: small;
    color: var(--muted-textColor);
  }

  .navigationCard .mainNavigation {
    padding: 20px 0;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
  .navigationCard .bottomNav {
    width: 100%; height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;

  }
  .navigationCard .mainNavigation > div,
  .navigationCard .bottomNav > div {
    padding: 0.3rem 0.6rem;
    border-radius: 0.6rem;
    justify-content: flex-start;
  }
  .navigationCard .mainNavigation > div:hover,
  .navigationCard .bottomNav > div:hover {
    background-color: rgba(128, 128, 128, 0.1);
  }
}

@media screen and (min-width: 650px) {
  .navigationCard p {
    width: 100%;
    text-align: left;
    display: block;
  }
  .navigationCard .mainNavigation > div,
  .navigationCard .bottomNav > div {
    justify-content: flex-start;
  }
  .navigationCard > div img {
    margin-right: 0.8rem;
  }
}