:root {
  
  --post-backgroundColor: white;
  --cards-backgroundColor:  rgb(240, 240, 240);
  --group-backgroundColor: white ;
  
  --cardsHeader-backgoundColor: gray;
  --cards-shadow: 1px 1px 10px 1px rgba(226, 226, 226, 0.8);
  --cards-border: 1px solid rgba(128, 128, 128, 0.2) ;
  --cards-borderRadius: 0.8rem ;
  --group-borderRadius: 0.5rem ;
}

/*-TO MAKE SCROLLBAR-*/
::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
  margin: 0; padding: 0;
  border: none;
  outline: none;
}

html {
height: 100%; width: 100%;
margin: 0; padding: 0;
}

body {
height: 100%; width: 100vw;
margin: 0; padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
overflow: hidden;
text-decoration: none;
list-style: none;
border: none;
outline: none;

background: var(--body-color);
}

.homeBody {
  margin: 1%;
  width: 98%; ;height: 98%;
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 0;

  overflow: hidden;
}

.homeBody .LeftSide {
  display: none;
}

.homeBody .middleSide {
  width: 100%; height: 100%;
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
.homeBody .LeftSide {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .homeBody {
    column-gap: 3rem;
  }
  .homeBody .LeftSide {
    width: 100%;
    height: 100%;
  
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}